* {
    background:                     #252C3488;
    background-alt:                 #50536B88;
    foreground:                     #ABB2BFCC;
    border:               			#A162F7ff;
    border-alt:               		#45E3FFff;
    selected:               		#6F88FE1a;
    urgent:                         #DA4453FF;
}


