snippet tt "Texttt snippet"
\texttt{$1}
endsnippet

snippet bf "Textbf snippet"
\textbf{$1}
endsnippet

snippet it "Textit snippet"
\textit{$1}
endsnippet

snippet sc "Textsc snippet"
\textsc{$1}
endsnippet

snippet math "A math mode snippet"
$$1$$2
endsnippet

snippet dmath "A displaymode math mode snippet"
\[$1\]$2
endsnippet
