/* colors */

* {
  /* al:   #00000000; */
  /* bg:   #212B30FF; */
  /* bga:  #263035FF; */
  /* fg:   #C4C7C5FF; */
  /* ac:   #EC407AFF; */
  /* se:   #4DD0E1FF; */
  al:   #00000000;
  bg:   #282C34DD;
  bga:  #263035DD;
  fg:   #ABB2BFFF;
  ac:   #EC407AFF;
  se:   #4DD0E1FF;
}
